@model PlayingViewModel

    <div>
        <p>Your cards in hand: </p>
        @foreach (var Card in Model.User.CardsInHand)
        {
            <p>@Card.Number</p>
            <p>@Card.Symbol</p>
        }

        <p>Your hidden cards: </p>
        @foreach (var Card in Model.User.HiddenCards)
        {
            <p>@Card.Number</p>
            <p>@Card.Symbol</p>
        }
    </div>